{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>::KGR::</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--CSS files-->
  <link rel="stylesheet" href="{% static 'shop/home.css' %}">
  <link rel="stylesheet" href="{% static 'shop/login.css' %}">

</head>
<body>
    <div id = "wrapper">
        <div id = "header">
           <div id = "subheader">
        <div class = "container-fluid">
          <p>Collection Of Best Books & Guides</p>
          <a href="{% url 'shop-contact' %}">Contact Us</a>
          <a href="{% url 'shop-account' %}">Account</a>
        </div><!--close container div-->
        </div><!--close subheader div-->
      
      <!--Main Header Area-->
          <div id ="main-header">
            <div id = "logo">
              <span id ="kgr">KGR</span>
              <span id ="com">.com</span>
            </div><!--close logo div-->
      
      <!--search area-->
          <div id ="search">
            <form action="">
            <input class = "search-area" type="text" name="text" placeholder="Search Here">
            <input class="search-btn" type="submit" value="SEARCH">
            </form><!--close form div-->
          </div><!--close search div-->
      
      <!--user menu-->
          <div id ="user-menu">
            <li><a href="#">Cart(<span id="cart">0</span>)</a></li>
            <li><a href="/">Login</a></li>
          </div><!--close user-menu div-->
        </div><!--close main header div-->
      </div><!--close header div-->
      
      <!--navigation bar area-->
      <div id ="navigation">
        <nav>
          <a href="/home">Home</a>
          <a href="#">Fiction</a>
          <a href="#">Non-Fiction</a>
          <a href="#">Fantasy</a>
          <a href="#">Sci-Fi</a>
          <a href="#">Horror</a>
          <a href="#">Deals</a>
        </nav>
      </div><!--close navigation div--> 

<!--body content-->
{% block content %}
{% endblock content %}  

<div class="clearfix"></div>
<!--main-footer area-->

<div class="container-fluid">
  <div class="row">
  <div id="main-footer">
      <div class="footer-sub">
        <h2>Our Story</h2>
        <p>KGR was founder by 3 friends Kiran, Gwothami and Ritu. We met at Byte Academy from where our journey began. Our love for books inspired us to start this website which holds a variety of great books.<span><a href="#"> Read More...</a></span></p>
      </div><!--close footer sub-->
  <div class ="footer-sub-2">
      <h2>Social Media</h2>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
    </ul>
  </div><!--close footer-sub-2-->

    <div class="footer-sub-3">
      <h2>Subscribe Us</h2>
      <input type="text" name="subs" placeholder="Enter your Email " class="subs">
      <input type="submit" name="submit_btn" value="Subscribe " class="subs_btn">
      <p class="subs_p">Special Benefits for our Subscribed Members.</p>
  </div><!--close footer sub 3-->

<!--copyright area-->
    <div id="copyright">
      <p>Copyright &copy;2019 KGR.com</p>
    </div> <!--close copyright div-->
  </div>
</div> 




<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {% block js %}
  {% endblock js %}

</body>
</html>